<h1>Messages</h1>
<h2>Bienvenido {{userEmail}}</h2>
<div id="messages">
</div>

<form id="messagesForm" action="/" method="POST">
    <input type="text" name="message" placeholder="Mensaje">
    <button type="submit">Enviar</button>
</form>